# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stuff...
/*build*/
.vs/
.vscode/
.idea/
*.swp
*~
.DS_Store
arch

# patched on-the-fly files
**/zxorm-src/CMakeLists.txt
rcore_desktop_glfw.c
